.my-card{
    /* border: none;
    background: none; */
}
.my-card:hover{
    box-shadow: 5px 5px 5px 8px rgba(0, 0, 255, .2);
}
.div-left{
    text-align: left;
}
.description{
    text-align: justify;
}
.button-div{
    display: flex;
    justify-content: space-between;
}
.font-div{
    color: black;
}